@import url('https://fonts.googleapis.com/css?family=Arimo');

* {
  font-family: 'Arimo', sans-serif;
}

body {
  animation: colorchange 5s linear infinite;
  -webkit-animtion: colorchange 5s linear infinite;
  opacity: 1;
  transition: opacity 2s ease-in;
}

body.fade-out {
  opacity: 0;
  transition: none;
}

@keyframes colorchange {
  0% {
    background: #FF62B0;
  }
  12.5% {
    background: #FF86C2;
  }
  25% {
    background: #FFA8D3;
  }
  37.5% {
    background: #FFC8E3;
  }
  50% {
    background: #FFECF5;
  }
  62.5% {
    background: #FFC8E3	;
  }
  75% {
    background: #FFA8D3;
  }
  87.5% {
    background: #FF86C2;
  }
  100% {
    background: #FF62B0;
  }
}

@-webit-keyframes colorchange {
  0% {
    background: #FF62B0;
  }
  12.5% {
    background: #FF86C2;
  }
  25% {
    background: #FFA8D3;
  }
  37.5% {
    background: #FFC8E3;
  }
  50% {
    background: #FFECF5;
  }
  62.5% {
    background: #FFC8E3	;
  }
  75% {
    background: #FFA8D3;
  }
  87.5% {
    background: #FF86C2;
  }
  100% {
    background: #FF62B0;
  }
}

.anchor {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  font-size: 3.5em;
  margin: 8% 8%;
  letter-spacing: 5px;
}

a {
  text-decoration: none;
  transition: color ease-in-out 1s;
  -webkit-transition: color ease-in-out 1s;
}

a:hover {
  color: black;
}

.projects {
  text-align: left;
}

.about {
  text-align: center;
}

.contact {
  text-align: right;
}

.projects-h1{
  font-size: 50px;
}

.projects-ul {
  list-style-type: none;
  text-transform: lowercase;
}

.homebutton {
  position: fixed;
  bottom: 2%;
  width: 100%;
  margin: 0 auto;
}

.homeimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 40px;
}

.intro {
  font-size: 200%;
}

.change {
  font-style: italic;
}
