@import url('https://fonts.googleapis.com/css?family=Arimo');

body {
  /*background-color: #FDD2D6;*/
  animation: colorchange 5s linear infinite;
  -webkit-animtion: colorchange 5s linear infinite;
  margin: 0.2;
  opacity: 1;
  transition: 2s opacity;
}

body.fade-out {
  opacity: 0;
  transition: none;
}

@keyframes colorchange {
  0% {
    background: #FF62B0;
  }
  12.5% {
    background: #FF86C2;
  }
  25% {
    background: #FFA8D3;
  }
  37.5% {
    background: #FFC8E3;
  }
  50% {
    background: #FFECF5;
  }
  62.5% {
    background: #FFC8E3	;
  }
  75% {
    background: #FFA8D3;
  }
  87.5% {
    background: #FF86C2;
  }
  100% {
    background: #FF62B0;
  }
}

@-webit-keyframes colorchange {
  0% {
    background: #FF62B0;
  }
  12.5% {
    background: #FF86C2;
  }
  25% {
    background: #FFA8D3;
  }
  37.5% {
    background: #FFC8E3;
  }
  50% {
    background: #FFECF5;
  }
  62.5% {
    background: #FFC8E3	;
  }
  75% {
    background: #FFA8D3;
  }
  87.5% {
    background: #FF86C2;
  }
  100% {
    background: #FF62B0;
  }
}

.anchor {
  font-family: 'Arimo', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  font-size: 3.5em;
  margin: 10% 0;
}

a {
  text-decoration: none;
  transition: color ease-in-out 1s;
  -webkit-transition: color ease-in-out 1s;
  color: red;
}

a:hover {
  color: black;
}

.projects {
  text-align: left;
}

.about {
  text-align: center;
}

.contact {
  text-align: right;
}
