extends blog.pug
block content
  article
    .article-header 
      h3 First Blog Post
    .article-text
      p Some Text for my First Blog Post. This is my first blog post. 
  article
    .article-header 
      h3 Second Blog Post
    .article-text
      p Some Text for my Second Blog Post. This is my first blog post. 
  article
    .article-header 
      h3 Third Blog Post
    .article-text
      p Some Text for my Third Blog Post. This is my first blog post. 
