doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='../css/style.css')
    link(rel='stylesheet', href='../css/blogstyle.css')
    link(rel='stylesheet', href='../css/nav.css')
    title Blog
  body.fade-out
    nav.nav
      ul
        li
        a(href='/') Home 
        li 
        a(href='contact') Contact  
        li 
        a(href='projects') Projects  
    header.main-header
      div.main-header-text
        h1 The People's Coding Blog
        p Your go to for all the hot goss from the coding world.
    div.page-wrap
      a(href='/post') Write a Blog Post
      article.article-main
      - for (var i = results.length - 1; i >= 0; --i) {
        h3.article-header=results[i].title
        p.date-time=results[i].created
        p.article-text=results[i].body
      - }  
    script(src='https://code.jquery.com/jquery-3.2.1.js', integrity='sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=', crossorigin='anonymous')
    script(type='text/javascript', src='../js/main.js')
