doctype html
html
	head
		meta(charset='utf-8')
		link(rel='stylesheet', href='../css/style.css')
		link(rel='stylesheet', href='../css/animation.css')
		link(rel='icon', href='../images/favicon.ico')
		title Blog
	body.fade-out
		h1 test
		//
			<div id="container">
			<div id="flip">
			<div>
			<div>For Visiting</div>
			</div>
			<div>
			<div>You</div>
			</div>
			<div>
			<div>Thank</div>
			</div>
			</div>
			</div>
		footer.info
			#toTop
				a(href='#')
					img(src='http://findicons.com/files/icons/2141/web_design_creatives/128/small_smile.png')
			p © Nethanel Kohen
		script(src='https://code.jquery.com/jquery-3.2.1.js', integrity='sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=', crossorigin='anonymous')
		script(type='text/javascript', src='../js/main.js')
