doctype html
html
	head
		meta(charset='utf-8')
		link(rel='stylesheet', href='../css/style.css')
		link(rel='stylesheet', href='../css/animation.css')
		link(rel='icon', href='../images/favicon.ico')
		title Blog
	body.fade-out
		.nav
			span.anchor.projects
				a(href='projects') Projects
			span.anchor.about
				a(href='about') About
			span.anchor.contact
				a(href='contact') Contact
		script(src='https://code.jquery.com/jquery-3.2.1.js')
		script(type='text/javascript', src='../js/main.js')
