doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='../css/style.css')
    link(rel='stylesheet', href='../css/animation.css')
    link(rel='icon', href='../images/favicon.ico')
    title #{projectTitle}
  body
    h1 Check out my #{projectTitle} Project!
