doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='../css/style.css')
    link(rel='stylesheet', href='../css/nav.css')
    title #{projectTitle}
  body.fade-out
  nav.nav
    ul 
      a(href='/') Home 
      a(href='/contact') Contact  
      a(href='/blog') Blog  
    h1 Check out my #{projectTitle} Project! Coming soon..
    script(src='https://code.jquery.com/jquery-3.2.1.js', integrity='sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=', crossorigin='anonymous')
    //- script(type='text/javascript', src='../src/js/projects.js')
    script(type='text/javascript', src='../src/js/main.js')
