doctype html
html
	head
		meta(charset='utf-8')
		link(rel='stylesheet', href='../css/style.css')
		link(rel='stylesheet', href='../css/animation.css')
		link(rel='icon', href='../images/favicon.ico')
		title Blog
	body.fade-out
		h1 
			| Welcome to my Portfolio!
		p
		a(
				href="jukebox"
			)
			| See my SoundCloud project
		p
		a(
				href="/portfolio/2"
			)
			| See my Instagram Clone project
		p
		a(
				href="/portfolio/3"
			)
			| See my Rotten Tomatoes project
		p
		a(
				href="/portfolio/4"
			)
			| See my Final project
		script(src='https://code.jquery.com/jquery-3.2.1.js', integrity='sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=', crossorigin='anonymous')
		script(type='text/javascript', src='../js/projects.js')
		script(type='text/javascript', src='../js/main.js')
